@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

    .clip-your-needful-style {
        clip-path: polygon(0 0, 65% 0, 50% 101%, 0 100%);
        position: absolute;
    }
    .clip-your-needful-style::after {
      content: '';
      position: absolute;
      height: 200%;
      width: 20px;
      background-color: #008A93;
      left: 55%;
      opacity: 0;
      transform: translate(-20%, -19%) rotate(21deg);
      animation: slideRow 5s ease-in-out infinite;
    }

    @keyframes slideRow {
      0% { opacity: 0; transform: translate(2300%, -99.5%) rotate(21deg); }
      1% { opacity: 1; transform: translate(2300%, -99.5%) rotate(21deg); }
      20% { opacity: 1; transform: translate(-2100%, 53.5%) rotate(21deg); }
      100% { opacity: 0; transform: translate(-2100%, 53.5%) rotate(21deg); }
    }
 }

@media screen and (min-width: 480px) {
    .card:nth-child(7n + 1) {
        grid-column: auto/span 2;
        grid-row: auto/span 2;
    }
}

*::-webkit-scrollbar {
    width: 10px;
    background-color: #001718;
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #008A93;
}

.prompt::-webkit-scrollbar {
    width: 5px;
}
 
.prompt::-webkit-scrollbar-thumb {
  background-color: #666e75;
  border-radius: 5px;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Inter', sans-serif;
  }

/* loading animation */
  
.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  height: 50px;
}

.wrapper span {
  --d: 10px;
  display: inline-block;
  margin-inline: max(2px, calc(var(--d) / 5));
  width: var(--d);
  height: var(--d);
  border-radius: calc(var(--d) / 2);
  -webkit-animation: scale-up-down 300ms var(--delay) linear alternate infinite;
          animation: scale-up-down 300ms var(--delay) linear alternate infinite;
}

.wrapper span:nth-child(1) {
  --delay: calc(-100ms * (6 - 1));
}

.wrapper span:nth-child(2) {
  --delay: calc(-100ms * (6 - 2));
}

.wrapper span:nth-child(3) {
  --delay: calc(-100ms * (6 - 3));
}

.wrapper span:nth-child(4) {
  --delay: calc(-100ms * (6 - 4));
}

.wrapper  span:nth-child(5) {
  --delay: calc(-100ms * (6 - 5));
}

@-webkit-keyframes scale-up-down {
  to {
    height: calc(var(--d) * 4);
  }
}

@keyframes scale-up-down {
  to {
    height: calc(var(--d) * 4);
  }
}