@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

    .engineer-image-box:nth-child(2) {
      right: 0;
      top: 35%;
      animation-delay: 1s;
    }

    .engineer-image-box:nth-child(3) {
      left: 30%;
      top: -25%;
      animation-delay: 2s;
    }

    .engineer-section {
      clip-path: polygon(0 0, 100% 0, 100% 50%, 50% 100%, 0% 50%);
    }

    @media screen and (max-width: 1300px) {
      .engineer-section {
        clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0% 80%);
      }
    }

    @media screen and (max-width: 560px) {
      .engineer-image-box:nth-child(2) {
        right: 0;
        top: 35%;
        animation-delay: 1s;
      }
  
      .engineer-image-box:nth-child(3) {
        left: 30%;
        top: -25%;
        animation-delay: 2s;
      }
    }

    .clip-your-needful-style {
        clip-path: polygon(0 0, 65% 0, 50% 101%, 0 100%);
        position: absolute;
    }

    .clip-your-needful-style::after {
      content: '';
      position: absolute;
      height: 20px;
      width: 100%;
      bottom: 0;
      left: 0;
      background-color: var(--primary-color);
      opacity: 0;
      animation: slideRow 5s ease-in-out infinite;
    }

    @media screen and (max-width: 768px) {
      .clip-your-needful-style::after {
        bottom: 95%;
      }
    }

    @media screen and (max-width: 1535px) {
      .clip-your-needful-style {
        clip-path: none;
      }
    }

    @keyframes slideRow {
      0% { opacity: 1; width: 0%; transform: translateX(0%); }
      30% { opacity: 0; width: 100%; transform: translateX(200%); }
      100% { opacity: 1; width: 0%; transform: translateX(0%); }
    }
 }

 :root {
  --primary-color: #4357FF;
 }

@media screen and (min-width: 480px) {
    .card:nth-child(7n + 1) {
        grid-column: auto/span 2;
        grid-row: auto/span 2;
    }
}

/* homepage image slider for community */

.swiper-container {
  width: 480px;
}

@media screen and (min-width: 640px) {
  .swiper-container {
    width: 640px;
  }
}

@media screen and (min-width: 768px) {
  .swiper-container {
    width: 768px;
  }
}

/* analog button */

.analog-button {
  background-color: var(--primary-color);  
  /* box-shadow: #272727 4px 4px 0px; */
  transition: transform 200ms, box-shadow 200ms; 
}
.analog-button:active {
  transform: translateY(4px) translateX(4px);
  /* box-shadow: #272727 0px 0px 0px; */
}

/* hamburger menu */

.hamburger-menu {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  height: 1.25rem;
  width: 2rem;
  cursor: pointer;
}
.bar-top,
.bar-bottom {
  height: 2px;
  border: 2px solid var(--primary-color);
  background: var(--primary-color);
  border-radius: 5px;
  margin: 3px 0;
  transform-origin: center;
  transition: all 0.5s;
}

/* scrollbar */

*::-webkit-scrollbar {
    width: 10px;
    background-color: #000;
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--primary-color);
}

.prompt::-webkit-scrollbar {
    width: 5px;
}
 
.prompt::-webkit-scrollbar-thumb {
  background-color: #666e75;
  border-radius: 5px;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Inter', sans-serif;
  }

/* loading animation */
  
.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  height: 50px;
  color: #01ac96;
}

.wrapper span {
  --d: 10px;
  display: inline-block;
  margin-inline: max(2px, calc(var(--d) / 5));
  width: var(--d);
  height: var(--d);
  border-radius: calc(var(--d) / 2);
  -webkit-animation: scale-up-down 300ms var(--delay) linear alternate infinite;
          animation: scale-up-down 300ms var(--delay) linear alternate infinite;
}

.wrapper span:nth-child(1) {
  --delay: calc(-100ms * (6 - 1));
}

.wrapper span:nth-child(2) {
  --delay: calc(-100ms * (6 - 2));
}

.wrapper span:nth-child(3) {
  --delay: calc(-100ms * (6 - 3));
}

.wrapper span:nth-child(4) {
  --delay: calc(-100ms * (6 - 4));
}

.wrapper  span:nth-child(5) {
  --delay: calc(-100ms * (6 - 5));
}

@-webkit-keyframes scale-up-down {
  to {
    height: calc(var(--d) * 4);
  }
}

@keyframes scale-up-down {
  to {
    height: calc(var(--d) * 4);
  }
}